---
import { eq } from "astro:db";
import { GuestBook, Users } from "astro:db";
import { db } from "astro:db";
import Message from "./Message.astro";

interface Props {
    reviews: {
        GuestBook: {
            id: number;
            message: string;
            userId: string;
            calification?: number | null;
            createdAt: Date;
            updatedAt?: Date;
        };
        Users: {
            id: string;
            username: string;
            avatar: string;
        };
    }[];
}

const { reviews } = Astro.props;
---

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8">
    {
        reviews.map(({ GuestBook, Users }) => (
            <Message
                username={Users.username}
                message={GuestBook.message}
                avatar={Users.avatar}
                calification={GuestBook.calification}
            />
        ))
    }
</div>
