---
import { eq } from "astro:db";
import { GuestBook, Users } from "astro:db";
import { db } from "astro:db";
import Message from "./Message.astro";

const reviews = await db
    .select()
    .from(GuestBook)
    .innerJoin(Users, eq(GuestBook.userId, Users.id));
---

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8">
    {
        reviews.map(({ GuestBook, Users }) => (
            <Message
                username={Users.username}
                message={GuestBook.message}
                avatar={Users.avatar}
                calification={GuestBook.calification}
            />
        ))
    }
</div>
