---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Services">
    <div class="flex justify-center items-center flex-col">
        <div class="absolute top-0 z-[-2] h-screen w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>

        <header class="page-header">
            <div class="flex flex-col justify-center items-center h-96 max-w-2xl mx-auto">
                <h1 class="text-3xl font-bold text-center text-neutral-100">
                    Services
                </h1>
                <p class="text-lg text-center text-white/75">
                    Check out some of the services I offer 🖌️
                </p>
            </div>
        </header>

        <section class="bg-white max-w-5xl -mt-2 mx-auto rounded-3xl mb-2 shadow-lg shadow-black/20 flex flex-col justify-center items-center">
            <div class="flex flex-col justify-center items-center py-16 px-8">
                <p class="text-lg text-center text-neutral-700">
                
                    Check out some of the services I offer 🖌️

                </p>
            </div>
        </section>
    </div>
</Layout>