<article
    class="flex flex-col md:flex-row gap-8 justify-center items-center"
    id="about-me"
>
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-blue-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
    >
        <p class="[&>img]:h-4 [&>img]:inline [&>p]:text-pretty">
            Also known as "<strong>alexitoo_uy</strong>", <span
                class="notranslate">Alexander</span
            > is a developer from Uruguay
            <img
                class="emoji"
                draggable="false"
                alt="🇺🇾"
                src="https://cdn.jsdelivr.net/npm/twemoji/2/svg/1f1fa-1f1fe.svg"
            /> with 4+ years of experience in software development.
        </p>
        <p class="[&>img]:h-4 [&>img]:inline [&>p]:text-pretty">
            His passion for programming, design, and all things tech began at a
            young age when he first got his hands on a PC at home. He fondly
            remembers the days of using Windows XP to play and write. His
            interest in technology deepened when he received his first OLPC
            laptop from school, which introduced him to the world of Linux and
            the powerful utility of the terminal. As he grew more proficient in
            coding, he explored the world of APIs and began developing his own
            using JavaScript (NodeJS) and frameworks like Laravel.
        </p>
        <p class="[&>img]:h-4 [&>img]:inline [&>p]:text-pretty">
            In addition to his programming skills, he also has experience with
            no-code programming, having created apps for Android using platforms
            like "<a
                class="underline decoration-2 decoration-blue-300"
                href="https://www.kodular.io"
                target="_blank"
                rel="noopener noreferrer">Kodular Creator</a
            >". He is always eager to learn new technologies and stay up-to-date
            with the latest trends in the industry. If you're looking for a
            talented and passionate developer to bring your ideas to life, he
            would love to hear from you. Contact him to discuss your project and
            how you can work together to achieve your goals.
        </p>
    </div>
    <img
        src="/images/alex-2.webp"
        alt="Alexander Barrios"
        class="order-1 object-cover w-56 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 ring-1 ring-black/70"
    />
</article>
