---
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }>;

const { as: Tag, class: className, ...props } = Astro.props;
---

<Tag
    class:list={[
        "inline-block cursor-pointer border-2 border-primary",
        "font-semibold uppercase",
        "px-5 py-2.5",
        "hover:scale-110 hover:before:origin-left hover:before:scale-x-100",
        "ease-in motion-safe:transition-[color,transform] motion-safe:before:transition-transform motion-safe:before:duration-300 motion-safe:before:ease-in motion-safe:hover:delay-100 motion-safe:hover:ease-out motion-safe:hover:before:delay-100 motion-safe:hover:before:ease-out",
        className,
    ]}
    {...props}
>
    <span class="inline-block"><slot /></span>
</Tag>
