---
const links = [
    {
        label: "Services",
        url: "/services",
    },
    {
        label: "Guest Book",
        url: "/guestbook",
    },
    {
        label: "Blog",
        url: "/blog",
    },
];

const activeClasses = ["!text-black", "bg-white", "hover:bg-opacity-10"];

const currentPath = Astro.url.pathname;
---

<header
    class="z-[2] sticky flex items-center justify-between bg-black bg-opacity-95 px-5 py-4 backdrop-blur-lg transition-all duration-300 mt-0 md:px-10 mx-4 md:mx-10 top-5 rounded-3xl"
>
    <div class="flex items-center">
        <a
            id="home-button"
            href="/"
            class="h-10 w-10 rounded-full bg-gray-200 flex items-center justify-center"
        >
            <img
                src="/images/alexander.webp"
                alt="Alexander Barrios Home"
                class="h-10 w-10 rounded-full"
            />
        </a>
    </div>

    <div class="flex-1"></div>

    <nav class="flex items-center space-x-5">
        <ul class="flex items-center space-x-2">
            {
                links.map((link) => (
                    <li>
                        <a
                            href={link.url}
                            class:list={[
                                "text-white",
                                "transition-all",
                                "duration-300",
                                "py-2",
                                "px-3",
                                "rounded-md",
                                "hover:bg-white",
                                "hover:bg-opacity-10",
                                currentPath === link.url ? activeClasses : null,
                            ]}
                        >
                            {link.label}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>

<script>
    import { $ } from "@/lib/dom-selector";
    document.addEventListener("astro:page-load", () => {
        const $homeButton = $("#home-button");
        if ($homeButton) {
            $homeButton.addEventListener("click", (event) => {
                if (location.pathname === "/") {
                    event.preventDefault();
                    window.scrollTo({
                        top: 0,
                        behavior: "smooth",
                    });
                }
            });
        }
    });
</script>
