---
import SparklesIcon from "@/icons/SparklesIcon.astro";
import HomeSectionContainer from "./HomeSectionContainer.astro";
import MailIcon from "@/icons/MailIcon.astro";
import FeaturedButton from "./FeaturedButton.astro";
---

<HomeSectionContainer id="work-together" title="Let's work together">
    <SparklesIcon class="inline-block w-6 h-6 mr-2" slot="icon" />
    <div
        class="flex flex-col gap-4 mb-8 bg-blue-500/10 text-blue-300 border-blue-500/90 border p-4 rounded-md max-w-3xl mx-auto"
    >
        <p class="text-lg text-white text-opacity-85">
            I'm available for freelance work. If you have a project in mind,
            let's work together!
        </p>
        <div class="flex justify-end gap-4">
            <FeaturedButton
                href="mailto:alex.barrios2910@gmail.com"
                target="_blank"
                title="Send me an email"
            >
                <MailIcon class="w-5 h-5 mr-2 inline-block" />
                Send me an email
            </FeaturedButton>
        </div>
    </div>
</HomeSectionContainer>
