---
import { TWITCH_TOKEN, SOCKET_TOKEN } from "@/lib/Twitch";
import "@fontsource-variable/jost";
import "@fontsource/cascadia-code";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Twitch</title>
    </head>
    <div class="hidden" data-token={TWITCH_TOKEN}></div>
    <div class="hidden" data-socket-token={SOCKET_TOKEN}></div>

    <body>
        <slot />
    </body>
    <style>
        html {
            font-family: "Cascadia Code", sans-serif !important;
        }

        .with-ligatures {
            font-variant-ligatures: common-ligatures;
        }
    </style>


</html>
