---
import "@fontsource-variable/jost";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Twitch</title>
    </head>
    <body>
        <slot />
    </body>
    <style>
        html {
            font-family: "Jost", sans-serif !important;
        }
    </style>
</html>
